.readmore {
  display: none;
}

.featured-image {
  max-height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.postcards {
  background-color: #fefefe;
  padding: 10px;
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  margin-bottom: 10px;
  color: #000000;
}
